<%- model_class = Callcenter -%>
<div class="page-header">
  <h1>Descrição do chamado</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name('cliente') %>:</strong></dt>
  <dd><%= @callcenter.client.name %></dd>
  <dt><strong><%= model_class.human_attribute_name('funcionário') %>:</strong></dt>
  <dd><%= @callcenter.employee %></dd>
  <dt><strong><%= model_class.human_attribute_name('problema') %>:</strong></dt>
  <dd><%= @callcenter.problem %></dd>
  <dt><strong><%= model_class.human_attribute_name('solução') %>:</strong></dt>
  <dd><%= @callcenter.solution %></dd>
  <dt><strong><%= model_class.human_attribute_name('data finalização') %>:</strong></dt>
  <dd><%= @callcenter.date_finish %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              callcenters_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_callcenter_path(@callcenter), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              callcenter_path(@callcenter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
