<p>
<%= form_for(@invoice, url: baixar_invoice_path, method: :post) do |f| %>
  
    <div class="col-lg-3">
    <% if @invoice.status == 'FINALIZADA' %>	
    	<%= f.select(:form_receipt, options_for_select([["BOLETO"],["CHEQUE"], ["CRÉDITO"],["DÉBITO"],["DINHEIRO"]], @invoice.form_receipt), {include_blank: 'Forma de pagamento'}, readonly: true, :class => 'form-control') %>
    <% else %>
    	<%= f.select(:form_receipt, options_for_select([["BOLETO"],["CHEQUE"], ["CRÉDITO"],["DÉBITO"],["DINHEIRO"]], @invoice.form_receipt), {include_blank: 'Forma de pagamento'}, :class => 'form-control') %>
    <% end %>
    </div>
    <%= f.error_span(:form_receipt) %>
    
    <div class="col-lg-2">
    <% if @invoice.status == 'FINALIZADA' %>	
      <%= f.select(:installments, options_for_select([["1"],["2"], ["3"],["4"],["5"],["6"], ["7"],["8"],["9"],["10"],["11"],["12"]], @invoice.installments), {include_blank: 'Parcelas'}, disabled: true, :class => 'form-control') %>
    <% else %>
      <%= f.select(:installments, options_for_select([["1"],["2"], ["3"],["4"],["5"],["6"], ["7"],["8"],["9"],["10"],["11"],["12"]], @invoice.installments), {include_blank: 'Parcelas'}, :class => 'form-control') %>
    <% end %>
    </div>
    <%= f.error_span(:installments) %>
     
 <%= f.submit 'Finalizar ', :class => 'btn btn-warning' %>

<% end %>