<%- model_class = ExtraSale -%>
<div class="page-header">
  <h1>Serviço extra</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name('cliente') %>:</strong></dt>
  <dd><%= @extra_sale.client.name %></dd>
  <dt><strong><%= model_class.human_attribute_name('descrição') %>:</strong></dt>
  <dd><%= @extra_sale.product %></dd>
  <dt><strong><%= model_class.human_attribute_name('valor') %>:</strong></dt>
  <dd><%= @extra_sale.value %></dd>
  <dt><strong><%= model_class.human_attribute_name('data vencto') %>:</strong></dt>
  <dd><%= @extra_sale.due_date %></dd>
  <dt><strong><%= model_class.human_attribute_name('obs') %>:</strong></dt>
  <dd><%= @extra_sale.obs %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              extra_sales_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_extra_sale_path(@extra_sale), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              extra_sale_path(@extra_sale),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
