<!-- CSS PARA REMOVER O BOTÃO IMPRIMIR NA VIEW DE IMPRESSÃO -->
  <style type="text/css">
	@media print {
    #printbtn {
        display :  none;
    }
}

@media print {
  a[href]:after {
    content: none !important;
    // remove o link da impressão
  }
} 
</style>


<%- model_class = Patrimonio -%>
<div class="page-header">
  <h1>Cadastro de patrimonio</h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_patrimonio_path,
            :class => 'btn btn-primary', id: 'printbtn' %>
            
  <%= link_to 'Painel de controle', dashboard_servproject_path, class: 'btn btn-default', id: 'printbtn' %>

  <%= link_to 'Excel Download', patrimonios_path(:format => :xls, :exportar => 'SIM'), class: 'btn btn-success', id: 'printbtn' %>

  <button type="button" id ="printbtn" class="btn btn-success", onclick ="window.print();return false;">Imprimir</button>
          
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name('cód patrimonio') %></th>
      <th><%= model_class.human_attribute_name('descrição') %></th>
      <th><%= model_class.human_attribute_name('usuário') %></th>
      <th><%= model_class.human_attribute_name('criado em') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @patrimonios.each do |patrimonio| %>
      <tr>
        <td><%= link_to patrimonio.numero_patrimonio, patrimonio_path(patrimonio) %></td>
        <td><%= patrimonio.descricao %></td>
        <td><%= patrimonio.ad_user.colaborador %></td>
        <td><%= patrimonio.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_patrimonio_path(patrimonio), :class => 'btn btn-default btn-xs', id: 'printbtn' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      patrimonio_path(patrimonio),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger',id: 'printbtn' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

Total de Patrimonios cadastrados: <b><%= @conta_patrimonios %></b>

