 <div style="background: url('images/logo-servproject.png')no-repeat center;
   color: #FFF;" class="jumbotron">
 </div>
 
<div align="center" class="jumbotron">
<h2>Bem vindo ao painel de controle!</h2>
<h4>Selecione a opção desejada clicando em um dos botões abaixo:</h4>
</div> 
 

<div class="container" align="center">

<div class="container">

<%= link_to 'Dashboard', report_call_path, class: 'btn btn-default btn-lg' %>

<%= link_to 'Email / Skype', cad_emails_path, class: 'btn btn-default btn-lg' %>

<%= link_to 'Licenças', licencas_path, class: 'btn btn-default btn-lg' %>

<%= link_to 'Patrimonios', patrimonios_path, class: 'btn btn-default btn-lg' %>

<%= link_to 'Usuários AD', ad_users_path, class: 'btn btn-default btn-lg' %>

</div>
</div>
<p></p>
