<%- model_class = MonthlyAccount -%>
<div class="page-header">
  <h1>Cadastro de contas fixas</h1>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_monthly_account_path,
              :class => 'btn btn-primary' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('id') %></th>
      <th><%= model_class.human_attribute_name('Data vencimento') %></th>
      <th><%= model_class.human_attribute_name('Descrição') %></th>
      <th><%= model_class.human_attribute_name('Valor R$') %></th>
      <th><%= model_class.human_attribute_name('Criado em') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @monthly_accounts.each do |monthly_account| %>
      <tr>
        <td><%= link_to monthly_account.id, monthly_account_path(monthly_account) %></td>
        <td><%= monthly_account.due_date %></td>
        <td><%= monthly_account.description %></td>
        <td><%= monthly_account.value_doc %></td>
        <td><%= monthly_account.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_monthly_account_path(monthly_account), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      monthly_account_path(monthly_account),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
