<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="D&D Support Service - Consultoria em T.I and God ever!!!">
    <link rel="icon" href="../../images/favicon.ico">

  <title>DsoftWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

</head>
<body>

<!-- AQUI COMEÇA O CABEÇALHO DA APP -->

    <nav class="navbar navbar-inverse navbar-static-top">

      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand">DsoftWeb</a>

          <%= image_tag "logo.png" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

        <% if !logged_in? %>

       	<li><%= link_to "Home", root_path %></li>
	    <li><%= link_to "Contato", contact_path %></li>
        </ul>
        <%= form_tag('/login', class: "navbar-form navbar-right") do %>
		<div class="form-group">
		<%= text_field_tag :email, nil, placeholder: 'Email', class: 'form-control' %>
		</div>
		<div class="form-group">
		<%= password_field_tag :password, nil, placeholder: 'Senha', class: 'form-control' %>
		</div>
		<%= submit_tag "Login", class: 'btn btn-success' %>
		<% end %>

        <!-- SE ESTIVER LOGADO -->
        <% else %>
        	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                <ul class="dropdown-menu">

                <% if current_user.mpainel_servproject == true %>
                <li><%= link_to "Abertura de chamados", callcenters_path %></li>
                <% end %>

                <% if current_user.ccli == true %>
                <li><%= link_to "Clientes", clients_path %></li>
                <% end %>

								<% if current_user.cmon == true %>
								<li><%= link_to "Contas fixas", monthly_accounts_path %></li>
								<% end %>

                <% if current_user.cforn == true %>
                <li><%= link_to "Fornecedores", suppliers_path %></li>
                <% end %>

                <% if current_user.clic == true %>
                <li><%= link_to "Licença de Softwares", licences_path %></li>
                <% end %>

                <% if current_user.cpat == true %>
                <li><%= link_to "Patrimonio", heritages_path %></li>
                <% end %>

                <%if current_user.cprod == true %>
                <li><%= link_to 'Produtos', products_path%></li>
                <% end %>

                <%if current_user.cservidor == true %>
                <li><%= link_to "Servidores DNS", dns_servers_path %></li>
                <% end %>

                <%if current_user.cextra_sale == true %>
                <li><%= link_to "Serviços extras", extra_sales_path %></li>
                <% end %>

                <% if current_user.cuser == true && current_user.type_access == 'User' %>
                <li><%= link_to "Usuários", editar_user_path %></li>
                <% elsif current_user.cuser == true && current_user.type_access != 'User' %>
                <li><%= link_to "Usuários", users_path %></li>
                <% end %>


				</ul>
        	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Movimentações <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <%if current_user.mos == true %>
                <li><%= link_to "Orçamentos / Ordens de Serviço", invoices_path %></li>
                <% end %>

                <% if current_user.mpainel_servproject == true %>
                <li><%= link_to "Painel de controle - Servproject", dashboard_servproject_path %></li>
                <% end %>

                <% if current_user.mupload == true %>
                <li><%= link_to "Upload de Arquivos", documents_path %></li>
                <% end %>

                </ul>


        	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Financeiro <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <%if current_user.fpag == true %>
                <li><%= link_to "Contas á Pagar", payments_path %></li>
                <% end %>
                <li role="separator" class="divider"></li>
                <%if current_user.frec == true %>
                <li><%= link_to "Contas á Receber", receipts_path %></li>
                <% end %>

                <li role="separator" class="divider"></li>
                <% if current_user.fgeral == true %>
                <li><%= link_to "Verificação geral", root_path %></li>
                <% end %>
              </ul>

                      	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li class="dropdown-header">Gerais</li>

                <%if current_user.rcall == true %>
                <li><%= link_to "Dashboards", report_call_path %></li>
                <% end %>

                <%if current_user.rcli == true %>
                <li><%= link_to "Clientes", report_client_path %></li>
                <% end %>

                <%if current_user.rforn == true %>
                <li><%= link_to "Fornecedores", report_supplier_path %></li>
                <% end %>

                <%if current_user.rpat == true %>
                <li><%= link_to "Patrimonios", report_heritage_path %></li>
                <% end %>

                <%if current_user.rprod == true %>
                <li><%= link_to "Produtos", report_product_path %></li>
                <% end %>

                <%if current_user.rcli == true %>
                <li><%= link_to "Servidores DNS", report_dns_path %></li>
                <% end %>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Movimentações</li>
                <%if current_user.mos == true %>
                <li><%= link_to "Orçamentos / O.S", report_invoice_path %></li>
                <% end %>

                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Financeiro</li>
                <%if current_user.rpag == true %>
                <li><%= link_to "Contas á Pagar", report_payment_path %></li>
                <% end %>

                <%if current_user.rrec == true %>
                <li><%= link_to "Contas á Receber", report_receipt_path %></li>
                <% end %>

              </ul>
				<li><%= link_to current_user.email, logout_path, method: :delete %></li>
        	</ul>


         <% end %>


        </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container">

    	<% flash.each do |type, message|%>
		<div class="alert alert-<%= type %>"><%= message %></div>
		 <% end %>

          <%= yield %>


      <footer>

      </footer>
    </div> <!-- /container -->





  </body>
</html>
